    * {
        box-sizing: border-box;
    }
    
    ul {
        list-style-type: none;
    }
    
    hr {
        margin-bottom: -0.5% !important;
    }
    
    .text {
        padding-bottom: 5%;
        padding-left: 2%;
    }
    
    img {
        padding-bottom: 5%;
        width: 100%;
    }

.adsbygoogle {
   width: 100%;
}
