@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    #menu {
        color: #c4c4c4 !important;
        background-color: slategray;
        height: 60px;
        vertical-align: center;
        font-size: 3vw;
        word-break: keep-all;
    }
    #ng {
        word-break: break-all;
    }
    #ng2 {
        word-wrap: break-word;
    }
    #space {
        padding-left: 1%;
        padding-right: 0%;
        width: 90vw;
    }
    img {
        padding-bottom: 15%;
    }
    .a {
        font-size: 5vw;
    }
    .b,
    a {
        color: white;
    }
    #menu-t1,
    ul {
        top: 30px;
        left: 15px;
        position: absolute;
        float: left;
    }
    #menu-t2,
    ul {
        top: 30px;
        right: 20px;
        left: 40%;
        position: absolute;
        float: right;
    }
    .btm {
        padding-bottom: 5%;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: #bdbdbd;
    }
    #menu {
        font-size: 1vw;
        color: black !important;
        background-color: white !important;
        align-self: center;
    }
    #fill {
        background-color: slategrey;
        margin-right: 0%;
        margin-left: 0%;
    }
    #div2 {
        background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border-left: 0px;
        border-right: 0px;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 500px;
        max-height: 700px;
        clear: both;
        background-size: 100% 100%;
        object-fit: cover;
    }
    #space1 {
        padding-left: 0%;
        padding-right: 1%;
        height: auto;
    }
    #space2 {
        padding-left: 0.5%;
        padding-right: 0.5%;
        height: auto;
    }
    #space {
        padding-left: 1%;
        padding-right: 0%;
        height: auto;
    }
    #centered-top {
        position: absolute;
        top: 30%;
        left: 20%;
        padding-bottom: 2px;
        font-family: 'Be Vietnam', serif;
        color: white;
    }
    #centered-low {
        position: absolute;
        top: 50%;
        left: 20%;
        font-family: 'Be Vietnam', serif;
        color: #ffffff;
        font-size: 20px;
    }
    footer {
        background-color: lightgray;
    }
}